.padded {
	zoom: 1;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-repeat: no-repeat no-repeat;
}