*.jar
*.war
*.class
genfiles.properties
private.properties
private.xml
*.xml~
*.gwt-log
/application/src/lib/thirdparty/JavaScript/nbproject/private/
/application/src/group/dist/
/designer/dist/
/application/src/group/nbproject/private/
/application/src/lib/own/Updater/nbproject/private/
/application/src/components/DbControls/nbproject/private/
/application/src/components/Core/nbproject/private/
/application/src/lib/own/BinaryTags/nbproject/private/
/application/src/components/Forms/nbproject/private/
/application/src/lib/own/Controls/nbproject/private/
/application/src/lib/own/Rowsets/nbproject/private/
/application/src/components/Reports/nbproject/private/
/application/src/components/Modules/nbproject/private/
/application/src/lib/own/CommonUtils/nbproject/private/
/application/src/components/Datamodel/nbproject/private/
/application/src/components/GeoAddon/nbproject/private/
/application/src/lib/own/GeoPane/nbproject/private/
/application/src/lib/own/Sensors/nbproject/private/
/application/src/components/MetadataSynchronizer/nbproject/private/
/application/src/components/SqlDriversTester/dist/
/application/src/group/build.num
/designer/PlatypusApplication/nbproject/genfiles.properties
application.zip
thinclient.zip/application/src/components/DbControlsDesigner/nbproject/private/
/application/src/components/SqlDriversTester/nbproject/private/
/application/src/lib/own/Routing/build/
com.google.gdt.eclipse.core.prefs
.metadata
*.zip
com.google.gdt.eclipse.core.prefs
application/src/components/Application/nbproject/project.properties
application/src/components/Core/nbproject/project.properties
application/src/components/Datamodel/nbproject/project.properties
application/src/components/Forms/nbproject/project.properties
application/src/components/Modules/nbproject/project.properties
application/src/components/PlatypusDeploy/nbproject/build-impl.xml
application/src/components/PlatypusDeploy/nbproject/genfiles.properties
application/src/components/PlatypusDeploy/nbproject/project.properties
application/src/components/Server/nbproject/build-impl.xml
application/src/components/Server/nbproject/genfiles.properties
application/src/components/Server/nbproject/project.properties
application/src/group/nbproject/project.properties
application/src/lib/own/CommonUtils/nbproject/project.properties
application/src/lib/own/Rowsets/nbproject/project.properties
application/lib/own/README.TXT
/application/src/lib/own/ScalablePane/nbproject/private/
/application/src/lib/thirdparty/JSqlParser/nbproject/private/
/application/src/lib/own/Grid/nbproject/private/
/application/src/lib/thirdparty/JCalendar/nbproject/private/
/application/src/lib/own/OpcDa/nbproject/private/
