*.jar
*.war
*.class
*.xml~
*.gwt-log
*.zip
*.log
*genfiles.properties
*private.properties
*.properties~
.metadata
application.zip
thinclient.zip
com.google.gdt.eclipse.core.prefs

#ignoring in all subfolders
*\private/
*\build/
*\dist/
*\.settings/
!/installer/ext/infra/build
/application/lib/own/README.TXT
/application/src/group/build.num
/application/src/lib/thirdparty/JSqlParser/build/
/application/src/lib/own/GeoPane/build/
/application/src/lib/own/CommonUtils/build/
/application/src/lib/own/Grid/build/
/application/src/lib/own/Updater/build/
/application/src/lib/own/ScalablePane/build/
/application/src/lib/own/BinaryTags/build/
/application/src/lib/own/Rowsets/build/
/application/src/lib/own/OpcDa/build/
/application/src/lib/own/Routing/build/
/application/src/components/Core/build/
/application/src/components/Datamodel/build/
/application/src/components/Modules/build/
/application/src/lib/own/Controls/build/
/application/src/lib/thirdparty/JCalendar/build/
/application/src/components/DbControls/build/
/application/src/components/GeoAddon/build/
/application/src/components/Reports/build/
/application/src/components/Forms/build/
/application/src/components/Application/build/
/application/src/components/Server/build/
/application/src/components/ServletSupport/build/
/application/src/components/Deploy/build/
/application/src/components/MetaSync/build/
/designer/PlatypusForms/build/
/designer/PlatypusReport/build/
/designer/dist/
/application/src/components/Classes2Scripts/build/
/application/src/components/Classes2Scripts/dist/
/application/src/components/Classes2Scripts/nbproject/private/
/installer/ext/components/products/platypus-runtime/nbproject/private/
/installer/ext/engine/nbproject/private/
/designer/PlatypusDatamodel/nbproject/private/
/designer/PlatypusDebugger/nbproject/private/
/designer/javascript.guards/nbproject/private/
/designer/PlatypusQueries/nbproject/private/
/designer/PlatypusModules/nbproject/private/
/designer/PlatypusReport/nbproject/private/
/designer/PlatypusDbDiagram/nbproject/private/
/designer/PlatypusForms/nbproject/private/
/designer/PlatypusApplication/nbproject/private/
/designer/PlatypusExplorer/nbproject/private/
/application/src/components/Core/nbproject/private/
/application/src/components/Application/nbproject/private/
/application/src/lib/own/Rowsets/nbproject/private/

/application/src/lib/own/CommonUtils/nbproject/private/
/application/src/components/Reports/nbproject/private/
/application/src/components/GeoAddon/nbproject/private/
/application/src/components/Server/nbproject/private/
/application/src/lib/own/Updater/nbproject/private/
/application/src/components/MetaSync/nbproject/private/
/application/src/lib/own/GeoPane/nbproject/private/
/application/src/lib/own/BinaryTags/nbproject/private/
/application/src/lib/own/Sensors/
