*.jar
*.war
*.class
*.xml~
*.gwt-log
*.zip
*genfiles.properties
*private.properties
.metadata
application.zip
thinclient.zip
com.google.gdt.eclipse.core.prefs
/application/lib/own/README.TXT
/application/src/group/build.num
/application/src/group/dist/
/application/src/group/nbproject/private/
/application/src/lib/own/Updater/nbproject/private/
/application/src/lib/own/Routing/nbproject/private/
/application/src/lib/own/BinaryTags/nbproject/private/
/application/src/lib/own/Controls/nbproject/private/
/application/src/lib/own/Rowsets/nbproject/private/
/application/src/lib/own/CommonUtils/nbproject/private/
/application/src/lib/own/GeoPane/nbproject/private/
/application/src/lib/own/Sensors/nbproject/private/
/application/src/lib/own/ScalablePane/nbproject/private/
/application/src/lib/own/Grid/nbproject/private/
/application/src/lib/own/OpcDa/nbproject/private/
/application/src/lib/thirdparty/JSqlParser/nbproject/private/
/application/src/lib/thirdparty/JCalendar/nbproject/private/
/application/src/components/MetaSync/nbproject/private/
/application/src/components/DbControlsDesigner/nbproject/private/
/application/src/components/SqlDriversTester/nbproject/private/
/application/src/components/DbControls/nbproject/private/
/application/src/components/Core/nbproject/private/
/application/src/components/Forms/nbproject/private/
/application/src/components/Reports/nbproject/private/
/application/src/components/Modules/nbproject/private/
/application/src/components/Datamodel/nbproject/private/
/application/src/components/GeoAddon/nbproject/private/
/application/src/components/PlatypusDeploy/nbproject/private/
/application/src/components/MetadataSynchronizer/nbproject/private/
/application/src/components/SqlDriversTester/dist/
/designer/dist/
#/designer/PlatypusApplication/nbproject/genfiles.properties
