.p-window-shell {
    display: inline-block;
    position: absolute;
}

.p-window-shell > .p-widget,
.p-window-shell > .p-window-caption {
    display: block;
}

.p-window-caption {
    white-space: nowrap;
    position: relative;
    line-height: normal;
    background-color: blueviolet;
}

.p-window-tools {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    right: 0px;
    top: 0px;
    height: 100%;
}

.p-window-close-tool,
.p-window-minimize-tool,
.p-window-maximize-tool,
.p-window-restore-tool{
    display: inline-block;
    vertical-align: middle;
}

.p-window-close-tool::after {
    content: 'x';
}

.p-window-minimize-tool::after {
    content: '_';
}

.p-window-maximize-tool::after {
    content: '[ ]';
}

.p-window-restore-tool::after {
    content: 'r';
}

/* content layout duplication to avoid by content vs. by size layout conflict */
.p-window-text::after {
    content: '[ ]'; visibility: hidden;
}

.p-window-text {
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p-window-image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.p-window-tl,
.p-window-t,
.p-window-l,
.p-window-r,
.p-window-tr,
.p-window-bl,
.p-window-b,
.p-window-br {
    display: inline-block;
    position: absolute;    
}
.p-window-tl,
.p-window-tr,
.p-window-bl,
.p-window-br {
    width: 20px;
    height: 20px;
}

.p-window-tl {
    top: -5px;
    left: -5px;
}
.p-window-tr{
    top: -5px;
    right: -5px;
}
.p-window-bl {
    bottom: -5px;
    left: -5px;
}
.p-window-br {
    bottom: -5px;
    right: -5px;
}

.p-window-t {
    top: -5px;
    width: 100%;
    height: 5px;
}
.p-window-b {
    bottom: -5px;
    width: 100%;
    height: 5px;
}
.p-window-l {
    left: -5px;
    height: 100%;
    width: 5px;
}

.p-window-r {
    right: -5px;
    height: 100%;
    width: 5px;
}

.p-window-modal-mask {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}
