/* 
    Created on : 05.11.2013, 10:15:09
    Author     : mg
*/

.contentDecor{
    position: relative;
    margin: 3px;
    overflow: hidden;
}

.verticalDecor{
    position: absolute;
    display: inline-block;
    width: 3px;
    top: 0px;
    bottom: 0px;
}

.horizontalDecor{
    position: absolute;
    display: inline-block;
    height: 3px;
    left: 0px;
    right: 0px;
}

.cornerDecor{
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
}

.northDecor{
    top: 0px;
    cursor: n-resize;
}

.southDecor{
    bottom: 0px;
    cursor: s-resize;
}
.westDecor{
    left: 0px;
    cursor: w-resize;
}
.eastDecor{
    right: 0px;
    cursor: e-resize;
}
.northWestDecor{ 
    left: 0px;
    top: 0px;
    cursor: nw-resize;
}
.northEastDecor{
    right: 0px;
    top: 0px;
    cursor: ne-resize;
}
.southWestDecor{
    bottom: 0px;
    left: 0px;
    cursor: sw-resize;
}
.southEastDecor{
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
}
