.p-grid-shell {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.p-grid-section-header,
.p-grid-section-frozen,
.p-grid-section-body,
.p-grid-section-footer {
    position: relative;
    white-space: nowrap;
    line-height: 0px;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.p-grid-section-header,
.p-grid-section-frozen,
.p-grid-section-footer {
    flex: none;
}

.p-grid-section-body {
    flex: 1 1;
    overflow: hidden;
}

.p-grid-section-header-left,
.p-grid-section-header-right,
.p-grid-section-frozen-left,
.p-grid-section-frozen-right,
.p-grid-section-body-left,
.p-grid-section-body-right,
.p-grid-section-footer-left,
.p-grid-section-footer-right {
    display: inline-block;
}

.p-grid-section-body-left,
.p-grid-section-body-right {
    height: 100%;
}

.p-grid-section-header-left,
.p-grid-section-frozen-left,
.p-grid-section-body-left,
.p-grid-section-footer-left {
    flex: none;
}
.p-grid-section-header-right,
.p-grid-section-frozen-right,
.p-grid-section-body-right,
.p-grid-section-footer-right {
    flex: 1 1;
}

.p-grid-section-header-right,
.p-grid-section-frozen-right,
.p-grid-section-footer-right,
.p-grid-section-body-left {
    overflow: hidden;
}

.p-grid-section-body-right {
    overflow: auto;
}

.p-grid-section {
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
}

.p-grid-row,
.p-grid-header-row {
    line-height: normal;
}

.p-grid-header-cell {
    box-sizing: border-box;
    position: relative;
}

.p-grid-column-mover,
.p-grid-column-resizer {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
}

.p-grid-column-mover {
    left: 0px;
    top: 0px;
    right: 2px;
    height: 100%;
}

.p-grid-column-mover-alone {
    right: 0px;
}

.p-grid-column-resizer {
    right: -3px;
    z-index: 1;
    width: 5px;
    top: 0px;
    height: 100%;
}

.p-grid-column-title {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.p-grid-body-filler {
    display: inline-block;
    box-sizing: border-box;
    width: 0px;
}

.p-grid-cell {
    position: relative;
}

.p-grid-cell > .p-grid-cell-editor {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

