.platypus-module{
    transition: width 0.5s, height 0.5s, left 0.5s, right 0.5s;
}

.p-mask{
    background-color: lightgray;
    opacity: 0.75;
}

.p-mask-loading-start{
    background-image: url(progress.gif);
}

.gwt-ProgressBar-shell {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #aaaaaa;
}

.gwt-ProgressBar-bar {
    background-color: #67a7e3;
}

.gwt-ProgressBar-text {
    padding: 0px;
    margin: 0px;
    color: white;
}

.gwt-SliderBar-shell {
    border: 1px solid lightgray;
    border-radius: 4px;
}

.gwt-SliderBar-line {
    border: 1px solid black;
    left: 1px; 
    right: 1px; 
    height: 4px;
    overflow: hidden;
}

.gwt-SliderBar-line-enabled {
    background-color: white;
}

.gwt-SliderBar-line-before-knob{
    background-color: #67a7e3;
}

.gwt-SliderBar-knob {
    width: 11px;
    height: 10px;
    z-index: 1;
    cursor: pointer;
}

.gwt-SliderBar-knob-enabled{
    background-image: url(slider.png);
}

.gwt-SliderBar-knob-disabled{
    background-image: url(slider-disabled.png);
}

.gwt-SliderBar-knob-sliding{
    background-image: url(slider-sliding.png);
}

.gwt-SliderBar-tick {
    width: 1px;
    height: 8px;
    top: 2px;
    background: black;
    overflow: hidden;
}

.gwt-SliderBar-label {
    bottom: 0px;
    font-size: 8pt;
    cursor: default;
}

.gwt-SliderBar-label-enabled {
}

.gwt-SliderBar-label-disabled {
}

.gwt-SliderBar-shell-focused {
}

.gwt-SliderBar-line-sliding {
    background-color: #dddddd;
    cursor: pointer;
}

.gwt-PopupPanel{
    transition: left 0.5s, top 0.5s;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

.gwt-MenuBarPopup{
    transition: height 0.5s;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.06);
}

.gwt-MenuBar-horizontal{
    border-radius: 2px;
}
.window-panel{
    transition: left 0.5s, top 0.5s;
}

.toggle-button-selected{
    border: 2px solid gray !important;
    background-color: gray !important;
    background-image: none !important;
}

.gwt-Button, .gwt-Button:active, .gwt-Button:hover, .dropdown-button, .dropdown-button:active{
    color:#526e4f;
    text-shadow:0 1px rgba(255,255,255,0.5);
    margin: 0;
    padding: 3px 5px;
    font-size: 14px;
    text-align: center;
    background-clip: padding-box;
    border: 1px solid;
    border-radius:3px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05);

    border-color:#98cf9f #98cf9f #8ec397;
    
    background-color:#bff1bc;
    background-image:-webkit-linear-gradient(top, #cef4d0, #b2eeaa);
    background-image:-moz-linear-gradient(top, #cef4d0, #b2eeaa);
    background-image:-o-linear-gradient(top, #cef4d0, #b2eeaa);
    background-image:linear-gradient(to bottom, #cef4d0, #b2eeaa);
}

.gwt-Button:active{
    background-color:#bff1bc;
    background-image:-webkit-linear-gradient(top, #b2eeaa, #cef4d0);
    background-image:-moz-linear-gradient(top, #b2eeaa, #cef4d0);
    background-image:-o-linear-gradient(top, #b2eeaa, #cef4d0);
    background-image:linear-gradient(to bottom, #b2eeaa, #cef4d0);
}
.gwt-Button:focus{
    border-radius:3px;
}
.gwt-Button[disabled]{
    background-image:none;
    background-color:lightgray;
}

.gwt-DatePicker {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.dropdown-button:active{
    background:#75bd35;
    border-color:#678f3a #75a143 #81b049;
    background-image:-webkit-linear-gradient(top, #75bd35,#a0d44d);
    background-image:-moz-linear-gradient(top, #75bd35,#a0d44d);
    background-image:-o-linear-gradient(top, #75bd35,#a0d44d);
    background-image:linear-gradient(to bottom, #75bd35,#a0d44d);
}

.dropdown-menu{
    border-left: 1px solid gray;
    width: 8px; 
    background-image: url(dropdown-menu.png);
    background-repeat: no-repeat;
    background-position: center;
}

.decorator-select:hover{
    opacity: 1;
}

.decorator-select{
    width: 20px; 
    opacity: 0.5;
    background-image: url(decorator-select.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.decorator-clear:hover{
    opacity: 1;
}

.decorator-clear{
    width: 20px; 
    opacity: 0.5;
    background-image: url(decorator-clear.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.decorator-content{
    right: 40px;
}

.decorator{
    border: solid 1px lightgray;
    border-radius: 2px;
}

.decorator-focused{
    border: solid 1px gray;
    border-radius: 2px;
}

.gwt-MenuItem{
    padding-top: 0px;
    padding-bottom: 0px;
}

.gwt-MenuItem:hover, .gwt-MenuItem:focus, .gwt-MenuItem-selected:hover, .gwt-MenuItem-selected:focus{
    text-shadow: 0 1px rgba(0,0,0,0.4);
    background: #3e91ee;
    background-image: linear-gradient(to bottom, #5ea8fc, #2e86e7);
    box-shadow: inset 0 1px rgba(255,255,255,0.2),0 1px #1e6abe,0 0 0 1px #277edd;
    color: white;
    border-radius: 1px;
}

.gwt-MenuItem-selected{
    background: white;
}

.subMenuIcon{
    padding: 0px;
    position: absolute;
    width: 0px;
    background: transparent;
}

.subMenuIcon img{
    position: relative;
    right: 5px;
    top: 4px;
}

.subMenuIcon-selected{
    background: transparent;
}

.combo-field-custom-dropdown:hover{
    opacity: 1;
}

.combo-field-custom-dropdown{
    opacity: 0.5;
    background: url('dropdown-arrow.png') no-repeat;  /*Adds background-image*/
    background-position: right;  /*Position of the background-image*/
}

.gwt-ListBox{
    border: 0 !important;  /*Removes border*/
}

.gwt-ListBox::-ms-expand {
    display: none;
}

.date-time-field{
    border: solid 1px lightgray;
    padding-left: 4px;
    padding-top: 2px;
}

.date-select:hover, .time-select:hover{
    opacity: 1;
}

.date-select, .time-select{
    width: 20px; 
    opacity: 0.5;
    background-image: url(date-time-select.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.time-select{
    background-image: url(clock.png);
}


.spin-left{
    width: 20px; 
    background-image: url(spin-left.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.spin-field{
    border: solid 1px lightgray;
}

.spin-right{
    width: 20px; 
    background-image: url(spin-right.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toolbar{
}

.toolbar-chevron{
    right: 0px;
    width: 10px;
}

.toolbar-chevron-menu{
}

.toolbar-chevron-menu-item{
    margin: 3px;
}

.toolbar-content{
    left: 0px;
    right: 10px;
}

.menu-left-check-radio{
    top: 7px;
    width: 100%;
}

.menu-left-mark{
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-position: center;
}

.menu-field{
    /*
    border-left-color: lightgray;
    border-left-width: 1px;
    border-left-style: solid;
    */
    padding-left: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
}

.tabs-chevron{
    background-color: white;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.tabs-chevron-left{
    width: 12px;
    height: 12px;
    background-image: url(tabs-chevron-left.png);
    background-repeat: no-repeat;
    background-position-x: -2px;
    background-position-y: -1px;
}

.tabs-chevron-right{
    width: 12px;
    height: 12px;
    background-image: url(tabs-chevron-right.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -1px;
}

.tabs-chevron-list{
    width: 12px;
    height: 12px;
    background-image: url(tabs-chevron-list.png);
    background-repeat: no-repeat;
    background-position-x: -1px;
    background-position-y: -1px;
}

.tabs-tab-close{
    background-image: url(tab-close.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.gwt-TabLayoutPanelTab{
    margin-left: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #cfcfcf #ccc #c6c6c6;
    background-image: linear-gradient(to bottom, #fcfcfc, #dfdfdf);
}

.gwt-TabLayoutPanelTab:hover{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-color: #fc911d;
    border-top-width: 2px;
}

.gwt-TabLayoutPanelTab-selected{
    background-image: linear-gradient(to bottom, #49a4fc, #208be7);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: white;
}

.gwt-TabLayoutPanelTab p{
    cursor: pointer;
}

.gwt-TabLayoutPanelTab p:focus, .gwt-TabLayoutPanelTab .gwt-Label:focus{
    outline: none;
}

.gwt-TabLayoutPanelContentContainer{
    border: 1px solid #ccc;
}

.treegrid-expanded-cell{
    background-image: url(expanded.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.treegrid-collapased-cell{
    background-image: url(collapsed.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.grid-cell-editor-popup{
    background-color: white;
}

.grid-cell{
    overflow: hidden;
}

.grid-focused-cell {
    outline: black solid 2px;
    outline-offset: -2px;
}

.grid-selected-row{
    background-color: #e5e5e5 !important;
}

.grid-hovered-row{
    background-color: #e0f0ff;
}

.grid-column-footer{
    overflow: hidden;
}

.grid-column-header{
    position: relative;
    line-height: 20px;
    overflow: hidden;
    font-weight:bold;
    color:white;
    text-shadow:0 1px rgba(0,0,0,0.2);
    background:#2c92ed;
    border-width:1px 1px 1px 0;
    border-style:solid;
    border-color:#1d87e2 #187ed9 #1670c1;
    background-image:-webkit-linear-gradient(top, #49a4fc, #208be7);
    background-image:-moz-linear-gradient(top, #49a4fc, #208be7);
    background-image:-o-linear-gradient(top, #49a4fc, #208be7);
    background-image:linear-gradient(to bottom, #49a4fc, #208be7);
    -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.06),0 1px rgba(0,0,0,0.04);
    box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.06),0 1px rgba(0,0,0,0.04)
}

.grid-column-header-content{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.grid-sortable-column-header{
    cursor: pointer;
}

.grid-columns-chevron{
    /*    position: absolute;*/
    right: 1px;
    top: 1px;
    width: 13px;
    background-image: url(grid-columns-chevron.png);
    opacity: 0.6;
}

.grid-header-mover:hover{
    border-width: 1px;
    border-color: lightgray;
    border-radius: 2px;
    border-style: solid;
}

.grid-header-resizer:hover{
    border-color: lightgray;
    border-style: solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 2px;
    cursor: ew-resize;
}

.grid-header-resizer{
    border-color: lightgray;
    border-style: solid;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-radius: 2px;
}

.grid-ruler{
    width: 2px;
    background-color: brown; 
}

.grid-column-phantom{
    background-color: lightgray;
    opacity: 0.3;
}

.window-caption{
    padding-left: 10px;
    cursor: pointer;
    color:#6b6a5a;
    text-shadow:0 1px rgba(255,255,255,0.5);
    background:#fcf0b0;
    border:1px solid #d7cd89;
    border-bottom-color:#cec986;
    border-radius:3px;
    background-image:-webkit-linear-gradient(top, #fef5bd,#faeca4);
    background-image:-moz-linear-gradient(top, #fef5bd,#faeca4);
    background-image:-o-linear-gradient(top, #fef5bd,#faeca4);
    background-image:linear-gradient(to bottom, #fef5bd,#faeca4);
    -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04);
    box-shadow:inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04)
}

.window-caption-active{
    padding-left: 10px;
    cursor: pointer;
    color:#526e4f;
    text-shadow:0 1px rgba(255,255,255,0.5);
    background:#bff1bc;
    border:1px solid;
    border-color:#98cf9f #98cf9f #8ec397;
    border-radius:3px;
    background-image:-webkit-linear-gradient(top, #cef4d0,#b2eeaa);
    background-image:-moz-linear-gradient(top, #cef4d0,#b2eeaa);
    background-image:-o-linear-gradient(top, #cef4d0,#b2eeaa);
    background-image:linear-gradient(to bottom, #cef4d0,#b2eeaa);
    -webkit-box-shadow:inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04);
    box-shadow:inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04)
}

.window-tool{
    height: 16px;
    width: 16px;
}

.window-tool-minimize{
    background-image: url(window-tool-minimize.png);
    background-repeat: no-repeat;
    background-position-y: 7px;
    opacity: 0.45;
}

.window-tool-maximize{
    background-image: url(window-tool-maximize.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    opacity: 0.6;
}

.window-tool-restore{
    background-image: url(window-tool-restore.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    opacity: 0.6;
}

.window-tool-close{
    background-image: url(window-tool-close.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.window-content{
    transition: width 0.5s, height 0.5s;
    background-color: white;
}

.content-decor{
    border: 1px solid #d7cd89;
    border-bottom-color: #cec986;
    border-radius: 3px;
}

.content-decor-active{
    border-width: 1px;
    border-style: solid;
    border-color: #98cf9f #98cf9f #8ec397 #8ec397;
    border-radius: 3px;
    box-shadow: -1px -1px 10px 1px #a5e0ac, 1px 2px 4px #8ec397;
}

.vertical-decor{
    width: 3px;
    background: transparent;
}

.vertical-decor-active{
    width: 3px;
    background: transparent;
}

.horizontal-decor{
    height: 3px;
    background: transparent;
}

.horizontal-decor-active{
    height: 3px;
    background: transparent;
}

.corner-decor{
    width: 12px !important;
    height: 12px !important;
    background: transparent;
}

.corner-decor-active{
    width: 12px !important;
    height: 12px !important;
    background: transparent;
}

.north-decor{
}

.south-decor{
}

.west-decor{
}

.east-decor{
}

.north-west-decor{ 
}

.north-east-decor{
}

.south-west-decor{
}

.south-east-decor{
}

.north-decor-active{ 
}

.south-decor-active{
}

.west-decor-active{
}

.east-decor-active{
}

.north-west-decor-active{ 
}

.north-east-decor-active{
}

.south-west-decor-active{
}

.south-east-decor-active{
}

.editor-bold, .editor-italic, .editor-underline, .editor-subscript, .editor-superscript, .editor-align-left, .editor-align-center, .editor-align-right, .editor-background-color, .editor-foreground-color, .editor-strike-through, .editor-indent-right, .editor-indent-left, .editor-horisontal-rule, .editor-ordered-list, .editor-unordered-list, .editor-insert-image, .editor-create-link, .editor-delete-link, .editor-remove-format, .time-picker-up, .time-picker-down, .time-picker-button, .date-picker-button  {
    width: 100%; 
    height: 100%;
    background-image: url(editor-bold.gif);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.editor-container{
	width: 100%; 
    height: 100%;
}

.editor-bold{
    background-image: url(editor-bold.gif);
}

.editor-italic{
    background-image: url(editor-italic.gif);
}

.editor-underline{
    background-image: url(editor-underline.gif);
}

.editor-subscript{
    background-image: url(editor-subscript.gif);
}

.editor-superscript{
    background-image: url(editor-superscript.gif);
}

.editor-align-left{
    background-image: url(editor-justify-left.gif);
}

.editor-align-center{
    background-image: url(editor-justify-center.gif);
}

.editor-align-right{
    background-image: url(editor-justify-right.gif);
}

.editor-background-color{
    background-image: url(editor-back-color.gif);
}

.editor-foreground-color{
    background-image: url(editor-fore-color.gif);
}

.editor-strike-through{
    background-image: url(editor-strike-through.gif);
} 
.editor-indent-right{
    background-image: url(editor-indent.gif);
}
.editor-indent-left{
    background-image: url(editor-outdent.gif);
}
.editor-horisontal-rule{
    background-image: url(editor-hr.gif);
}
.editor-ordered-list{
    background-image: url(editor-ol.gif);
}
.editor-unordered-list{
    background-image: url(editor-ul.gif);
}
.editor-insert-image{
    background-image: url(editor-insert-image.gif);
}
.editor-create-link{
    background-image: url(editor-create-link.gif);
}
.editor-delete-link{
    background-image: url(editor-remove-link.gif);
}
.editor-remove-format{
    background-image: url(editor-remove-format.gif);
}
.time-picker-up{
    background-image: url(time-up.png);
}
.time-picker-down{
    background-image: url(time-down.png);
}

.time-picker{
    background: white;
    transition: height 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing:border-box;
}

.time-picker-button{
    background-image: url(clock.png);
    border-top: 1px solid #A2BBDD;
}

.date-picker-button{
    background-image: url(date-time-select.png);
    border-top: 1px solid #A2BBDD;
}

.time-picker-separator{
    font-size: large;
    font-weight: bold;
}
.time-picker-text{
    border-width: 1px;
    border-radius: 5px;
    font-size: large;
    border-style: none;
    padding:2px;
    box-sizing:border-box;
}
.time-picker-text:hover{
    border-style: inset;
    padding: 1px;
    box-sizing:border-box;
}

.date-time-picker{
    background: white;
    border: 1px solid #A2BBDD;
    border-radius: 2px;
    box-sizing:border-box;
}

