
.rowMarkerLeft {
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 8px;
	height: 16px;
}

.rowMarkerRight {
	display: inline-block;
	position: absolute;
	left: 9px;
	width: 10px;
	height: 16px;
}

@sprite .rowMarkerEdited {
	gwt-image: 'editedRow';
	background-position: 0px -2px;
	background-repeat: no-repeat;
}

@sprite .rowMarkerNew {
	gwt-image: 'newRow';
	background-position: 0px -2px;
	background-repeat: no-repeat;
}

@sprite .rowMarkerCurrent {
	gwt-image: 'currentRow';
	background-position: 0px -2px;
	background-repeat: no-repeat;
}