/**
 * Platypus.js UI layout rules
 */

.p-widget {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.p-container {
    overflow: hidden;
    line-height: 0px;
}

.p-flow {
    white-space: normal;
    line-height: 0px;
    overflow: auto;
}

.p-flow > .p-widget {
    vertical-align: bottom;
}

.p-cards > .p-widget,
.p-tabs-content > .p-widget {
    width: 100%;
    height: 100%;
}

.p-cards,
.p-tabs-content {
    overflow: hidden;
    position: relative;
}

.p-cards > .p-widget,
.p-tabs-content > .p-widget {
    display: none;
}

.p-cards > .p-card-shown,
.p-tabs-content > .p-card-shown {
    display: inline-block;
}

.p-tabs{}

.p-tabs-content{}

.p-tabs-captions,
.p-tabs-captions-shell {
    position: relative;
}

.p-tab-caption{
    display: inline-block;
    line-height: normal;
}

.p-tab-caption > .p-tab-caption-image{
    display: inline-block;
    vertical-align: middle;
}

.p-tab-caption-text{
    display: inline-block;
    vertical-align: middle;
}

.p-tab-caption-close-tool{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.p-tab-caption-close-tool::after{
    content: 'x';
}

.p-tab-caption-selected{
}

.p-cells > .p-widget {
    background-clip: content-box;
}

.p-anchors > .p-widget {
    position: absolute;
}

.p-anchors {
}

.p-box-horizontal {
    white-space: nowrap;
    overflow-x: auto;
}

.p-box-vertical {
    overflow-y: auto;
}

.p-scroll > .p-vertical-scroll-filler {
    height: 100%
}

.p-scroll > .p-horizontal-scroll-filler {
    width: 100%
}

.p-toolbar,
.p-tabs-captions {
    overflow-x: hidden;
    white-space: nowrap;
}

.p-toolbar-chevron,
.p-tabs-chevron {
    position: absolute;
    display: inline-block;
    top: 0px;
    height: 100%;
    width: 20px;
}

.p-toolbar-chevron-left,
.p-tabs-chevron-left{
    left: 0px;
}

.p-toolbar-chevron-right,
.p-tabs-chevron-right {
    right: 0px;
}

.p-borders-column {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.p-borders-row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.p-borders-column > .p-borders-top,
.p-borders-column > .p-borders-row,
.p-borders-column > .p-borders-bottom,
.p-borders-row > .p-borders-left,
.p-borders-row > .p-borders-center,
.p-borders-row > .p-borders-right
{
    display: inline-flex;
}

.p-borders-column > .p-borders-top,
.p-borders-row > .p-borders-left
{
    order: 1;
}

.p-borders-column > .p-borders-row,
.p-borders-row > .p-borders-center
{
    order: 2;
    flex: 1 1;
}

.p-borders-column > .p-borders-bottom,
.p-borders-row > .p-borders-right
{
    order: 3;
}

.p-image-paragraph-layers > .p-image,
.p-image-paragraph-layers > .p-paragraph{
    margin: auto;
}

.p-image-paragraph-layers > .p-image{
    display: block;
}

.p-image-paragraph-column > .p-image,
.p-image-paragraph-column > .p-paragraph{
    margin: auto;
    display: block;
}

.p-image-paragraph-row > .p-image,
.p-image-paragraph-row > .p-paragraph,
.p-menu-item > .p-paragraph,
.p-menu-item > .p-image,
.p-menu-item > input[type=check],
.p-menu-item > input[type=radio]
{
    display: inline;
    vertical-align: middle;
}

.p-image-paragraph-row-top > .p-image,
.p-image-paragraph-row-top > .p-paragraph{
    vertical-align: top;
}

.p-image-paragraph-row-bottom > .p-image,
.p-image-paragraph-row-bottom > .p-paragraph{
    vertical-align: bottom;
}

.p-dropdown-chevron{
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    top: 0px;
    right: 0px;
    height: 100%;
}

.p-error-popup{
    position: absolute;
    display: inline-block;
}

.p-error-popup::after{
    content: " ";
    position: absolute;
    display: inline-block;
}

.p-decorator > input,
.p-decorator > select,
.p-decorator > progress,
.p-decorator > meter{
    box-sizing: border-box;
    display: inline;
    width: 100%;
    height: 100%;
}

.p-decorator-nullable-selectable > input,
.p-decorator-nullable-selectable > select,
.p-decorator-nullable-selectable > progress,
.p-decorator-nullable-selectable > meter{
    padding-right: 50px;
}

.p-decorator-nullable > input,
.p-decorator-nullable > select,
.p-decorator-nullable > progress,
.p-decorator-nullable > meter{
    padding-right: 20px;
}

.p-decorator-selectable > input,
.p-decorator-selectable > select,
.p-decorator-selectable > progress,
.p-decorator-selectable > meter{
    padding-right: 30px;
}

.p-decoration{
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0px;
    height: 100%;
}

.p-clear{
    width: 20px;
    background-color: yellowgreen;
}

.p-decorator-nullable-selectable > .p-clear {
    right: 30px;
}
.p-decorator-nullable > .p-clear {
    right: 0px;
}

.p-select{
    width: 30px;
    right: 0px;
    background-color: aquamarine;
}

.p-menu, .p-menu-bar{
    line-height: normal;
    border: 1px solid lightgray;
    cursor: pointer;
}

.p-menu{
    position: absolute;
}

.p-window-shell{
    display: inline-block;
    position: absolute;
}

.p-window-shell > .p-widget,
.p-window-shell > .p-window-caption
{
    display: block;
}

.p-window-caption{
    white-space: nowrap;
    position: relative;
    line-height: normal;
    background-color: blueviolet;
}

.p-window-tools{
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    right: 0px;
    top: 0px;
    height: 100%;
}

.p-window-close-tool,
.p-window-minimize-tool,
.p-window-maximize-tool,
.p-window-restore-tool{
    display: inline-block;
    vertical-align: middle;
}

.p-window-close-tool::after{content: 'x'}
.p-window-minimize-tool::after{content: '_'}
.p-window-maximize-tool::after{content: '[ ]'}
.p-window-restore-tool::after{content: 'r'}
/* content layout duplication to avoid by content vs. by size layout conflict */
.p-window-text::after{content: '[ ]'; visibility: hidden}
.p-window-text{
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    margin-top: 0px;
    margin-bottom: 0px;
}
.p-window-image{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.p-window-tl,
.p-window-t,
.p-window-l,
.p-window-r,
.p-window-tr,
.p-window-bl,
.p-window-b,
.p-window-br{
    display: inline-block;
    position: absolute;    
}
.p-window-tl,
.p-window-tr,
.p-window-bl,
.p-window-br{
    width: 20px;
    height: 20px;
}

.p-window-tl{
    top: -5px;
    left: -5px;
}
.p-window-tr{
    top: -5px;
    right: -5px;
}
.p-window-bl{
    bottom: -5px;
    left: -5px;
}
.p-window-br{
    bottom: -5px;
    right: -5px;
}

.p-window-t{
    top: -5px;
    width: 100%;
    height: 5px;
}
.p-window-b{
    bottom: -5px;
    width: 100%;
    height: 5px;
}
.p-window-l{
    left: -5px;
    height: 100%;
    width: 5px;
}
.p-window-r{
    right: -5px;
    height: 100%;
    width: 5px;
}
.p-window-modal-mask{
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}