/**
 * Platypus.js UI layout rules
 */

.p-widget {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.p-container {
    overflow: hidden;
    line-height: 0px;
}

.p-flow {
    white-space: normal;
    line-height: 0px;
    overflow: auto;
}

.p-flow > .p-widget {
    vertical-align: bottom;
}

.p-cards > .p-widget {
    width: 100%;
    height: 100%;
}

.p-cards {
}

.p-cards > .card-shown {
    display: inline-block;
}

.p-cards > .card-hidden {
    display: none;
}

.p-cells > .p-widget {
    background-clip: content-box;
}

.p-anchors > .p-widget {
    position: absolute;
}

.p-anchors {
}

.p-box-horizontal {
    white-space: nowrap;
    overflow-x: auto;
}

.p-box-vertical {
    overflow-y: auto;
}

.p-scroll > .p-box-horizontal {
    height: 100%
}

.p-scroll > .p-box-vertical {
    width: 100%
}

.p-toolbar {
    overflow-x: hidden;
}

.p-toolbar-chevron {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 20px;
}

.p-toolbar-chevron-left {
    left: 0px;
}

.p-toolbar-chevron-right {
    right: 0px;
}

.p-borders-column {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.p-borders-row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.p-borders-column > .p-borders-top,
.p-borders-column > .p-borders-row,
.p-borders-column > .p-borders-bottom,
.p-borders-row > .p-borders-left,
.p-borders-row > .p-borders-center,
.p-borders-row > .p-borders-right
{
    display: inline-flex;
}

.p-borders-column > .p-borders-top,
.p-borders-row > .p-borders-left
{
    order: 1;
}

.p-borders-column > .p-borders-row,
.p-borders-row > .p-borders-center
{
    order: 2;
    flex: 1 1;
}

.p-borders-column > .p-borders-bottom,
.p-borders-row > .p-borders-right
{
    order: 3;
}
