/**
 * Platypus.js UI presentaion styles
 */
.p-error-popup{
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    max-width: 150px;
    background: white;
}

.p-error-popup::after{
    width: 10px;
    height: 10px;
    top: 0px;
    margin-top: -6px;
    margin-left: -5px;
    border: 1px solid lightgrey;
    background: white;
    transform: rotate(45deg);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.p-indeterminate::-webkit-slider-thumb {
    visibility: hidden;
    border: 1px solid lightgray;
}

.p-window-tl{
    cursor: nw-resize;
}
.p-window-tr{
    cursor: ne-resize;
}
.p-window-bl{
    cursor: sw-resize;
}
.p-window-br{
    cursor: se-resize;
}

.p-window-t{
    cursor: n-resize;
}
.p-window-b{
    cursor: s-resize;
}
.p-window-l{
    cursor: w-resize;
}
.p-window-r{
    cursor: e-resize;
}
.p-window-t,.p-window-b,.p-window-l,.p-window-r{
    background-color: bisque;
}
.p-window-tl,.p-window-tr,.p-window-bl,.p-window-br{
    background-color: blueviolet;
}

