/**
 * Platypus.js UI presentaion styles
 */
.p-widget {
    font-family: Tahoma;
    font-size: smaller;
}

.p-error-popup {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    max-width: 150px;
    background: white;
}

.p-error-popup::after {
    width: 10px;
    height: 10px;
    top: 0px;
    margin-top: -6px;
    margin-left: -5px;
    border: 1px solid lightgrey;
    background: white;
    transform: rotate(45deg);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.p-indeterminate::-webkit-slider-thumb {
    visibility: hidden;
    border: 1px solid lightgray;
}

.p-window-tl {
    cursor: nw-resize;
}
.p-window-tr {
    cursor: ne-resize;
}
.p-window-bl {
    cursor: sw-resize;
}
.p-window-br {
    cursor: se-resize;
}

.p-window-t {
    cursor: ns-resize;
}
.p-window-b {
    cursor: ns-resize;
}
.p-window-l {
    cursor: ew-resize;
}
.p-window-r {
    cursor: ew-resize;
}
.p-window-t,.p-window-b,.p-window-l,.p-window-r {
    /* background-color: bisque; */
}
.p-window-tl,.p-window-tr,.p-window-bl,.p-window-br {
    /* background-color: blueviolet; */
}

.p-grid-shell{
}

.p-grid-cell {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-overflow: ellipsis;
    overflow: hidden;
}

.p-grid-header-cell {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.p-grid-column-resizer {
    cursor: ew-resize;
}

.p-grid-column-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-grid-column-move-hint-left,
.p-grid-column-move-hint-right {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    background-color: crimson;
    top: 0px;
    height: 100%;
    width: 2px;
}

.p-grid-column-move-hint-left {
    left: 0px;
}

.p-grid-column-move-hint-right{
    right: 0px;
}

.p-grid-column-move-target {
    background: bisque;
}
