!gt-api*.jar
!gt-coverage*.jar
!gt-cql*.jar
!gt-data*.jar
!gt-jdbc*.jar
!gt-jdbc-oracle*.jar
!gt-main*.jar
!gt-metadata*.jar
!gt-opengis*.jar
!gt-referencing*.jar
!gt-render*.jar
!h2*.jar
!j-interop.jar
!j-interopdeps.jar
!JTattoo.jar
!jai_core*.jar
!jcifs*.jar
!jcommon*.jar
!jfreechart*.jar
!jsr-275*.jar
!jt-utils*.jar
!jt-zonalstats*.jar
!jtds*.jar
!jts*.jar
!jxls-core*.jar
!commons-beanutils*.jar
!mysql-connector-java*.jar
!db2jcc.jar
!ojdbc*.jar
!db2jcc_license_cu.jar
!poi*.jar
!geoapi*.jar
!postgresql*.jar
!postgis*.jar
!geoapi-pending*.jar
!vecmath*.jar